@import 'dark';
@import 'light';
@import 'hacker';
@import 'solarized';
@import 'kimbie';

@import 'darkcode';
@import 'lightcode';
@import 'hackercode';
@import 'solarizedcode';
@import 'kimbiecode';
@import 'edwin';

$themes: (
  dark: $dark,
  light: $edwin,
  hacker: $hacker,  
  solarized: $solarized,
  kimbie: $kimbie,
);

$codeblock: (
  dark: $darkcode,
  light: $solarizedcode,
  hacker: $hackercode,  
  solarized: $lightcode,
  kimbie: $kimbiecode,
);
